---
import PageLayout from "../../components/PageLayout.astro";

---

<PageLayout>
	<h1>Mini Golf Mania</h1>
	<p>A phyics based mini-golf game where you challenge your friends online!</p>
</PageLayout>