---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me & This Site"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/BlogMedia/AboutMe.avif"
>
  <p>I'm a high school student learning programming & computer science.</p>
  <h5>Interesting Projects</h5>
  <ul>
    <li>
      Minigolf Arcade Game
      <p>
        A chaotic online multiplayer minigolf game where you try to beat your
        friends in the race to the finish! Will you use your swings to get
        further in the course, or will you attempt to sabotage your enemy? Your
        choice.
      </p>
      <p>
        In all seriousness, it's made as a way for me to learn how multiplayer
        games work. I'm also (partially) writing the physics for the ball. I
        create these ideas not only for the fun of the result but for learning
        new concepts along the way.
      </p>
    </li>
    <li>
      ... This Website!
      <p>
        I'm building this website to learn responsive design and how to keep a
        consistent interface across a larger project.
      </p>
      <p>
        I'm also using something I've never used before, <a
          href="https://astro.build/">Astro.build</a
        >. It supports writing these blogs in markdown and automatically
        converting them to this beautiful page. It also converts all of my blogs
        into <a href="/rss.xml" target="_blank">RSS.</a>
      </p>
      <p>
        I'm going to use this site to catalog my projects and interests. Look
        forward to... at least one blog in the future!
      </p>
    </li>
  </ul>
  <h5>Interests</h5>
  <ul>
    <li>
      Devboard hardware
      <p>
        I've recently found out about ESP32 development boards and have made
        some cool projects with them. The blend of software and hardware
        development is super fun, and... OMG! It's a <a
          href="/blog/arduino-and-esp32-projects">blog about it!</a
        >
      </p>
    </li>
    <li>
      Linux and Open Source Software
      <p>
        I believe that free (as in freedom) and open source software is one of
        the most important communities, period. I use Arch (by the way) Linux
        and a LineageOS Pixel 6 Pro. I'm sure I'll write more about the
        importance of FOSS software in a blog (or 10) here.
      </p>
    </li>
    <li>
      Electronics Design and Repair
      <p>
        On top of making basic new hardware using the aforementioned dev boards,
        I also love repairing electronics of all types. I volunteer at <a
          href="https://www.repaircafe.org/en/visit/">Repair Café</a
        >
        in my city. It's a program that accepts anyone and their broken devices.
        Myself and a couple of other wonderful volunteers try to repair whatever
        we can, from noise machines to bikes and 3D printers to phones.
      </p>
      <p>
        P.S. If you haven't heard of Repair Café before, please check it out!
        It's an awesome program, and everyone there is fantastic.
      </p>
    </li>
  </ul>
  <p>
    If you read to the end of this about page, you probably have some pretty
    similar interests to me. Check back in every once in a while and support the
    site by starring it on <a href="https://github.com/Deen-Weible">GitHub</a> and
    spreading it around. There's also the <a href="/rss.xml" target="_blank"
      >RSS</a
    > page that you can follow. Thanks, everybody :)
  </p>
</Layout>
