---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="What I'm Up To Now"
  description="Projects I'm working on right now"
  pubDate={new Date("January 23  2025")}
  heroImage="/BlogMedia/AboutMe"
>
  <h4>Current Projects</h4>
  <ul>
    <p>
      <li>
        VEX V5 school robotics competitions, we are the Headless Nails!
      </li>
      <li>
        A multiplayer online minigolf game, where chaos takes over. Made in
        Godot 4
      </li>
    </p>
  </ul>
</Layout>
