---
import Layout from "../layouts/BlogPost.astro";
import { getProjects } from "../utils/projects.js";

const projects = getProjects();
---
<Layout
  title="Projects"
  description="Projects I'm working on right now"
  pubDate={new Date("January 26 2025")}
  heroImage="/BlogMedia/AboutMe"
>
  <!-- Keep the links inherited color -->
  <style>
    a {
      color: inherit;
    }
  </style>

  <h4>Published Projects</h4>
  <ul>
    {
      projects.map((project) => (
        <li>
          {project.emoji ? <span>{project.emoji} </span> : null}
          <a href={project.link}>
            {project.title} - {project.description}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
