---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/BlogPost.astro";
import { getProjects } from "../utils/projects.js";

const projects = getProjects();
---

<BaseHead title="What I'm Up To Now" description="Projects I'm working on right now" />

<Layout
  title="What I'm Up To Now"
  description="Projects I'm working on right now"
  pubDate={new Date("January 23 2025")}
  heroImage="/BlogMedia/AboutMe"
>
  <!-- Keep the links default color -->
  <style>
    a {
      color: default;
    }
  </style>

  <h4>Current Projects</h4>
  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={project.link}>
            {project.title} - {project.description}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
